footer{
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    padding: 50px;
    background-color: gray;
    overflow-x: hidden;
}
footer a{
    text-decoration: none;
    color: black;
}

footer h6{
    color: black;
    font-weight: bold;
    font-size: 102%;
    margin-bottom: 20px;
}

.footer-left{
    padding: 10px;
    padding-right: 30px;
}

.footer-center, .footer-right{
    color: white;
}

.icons{
    margin-right: 10px;
}

.footer-right{
    width: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px;
}

.footer-right-text{
    text-decoration: none;
    color: black;
    /* font-size: 110%; */
}

.footer-right > ul{
    list-style: none;
}
@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-right {
     grid-template-columns: 1fr;
    }

    .footer-right > ul {
        padding: 0;
    }

    .footer-left, .footer-center, .footer-right {
        padding: 20px;
    }
}